@layer tokens {
  :root {
    --leaf-color-neutral-00: #000;
    --leaf-color-neutral-05: rgb(230, 230, 230);
    --leaf-color-neutral-10: #fff;
    --leaf-color-red-0: #c00;
    --leaf-color-red-1: #a4001e;

    --leaf-color-content: var(--leaf-color-neutral-00);
    --leaf-color-content-on-brand: var(--leaf-color-neutral-10);
    --leaf-color-stroke: var(--leaf-color-neutral-05);
    --leaf-color-surface: var(--leaf-color-neutral-10);
    --leaf-color-surface-brand-rest: var(--leaf-color-red-0);
    --leaf-color-surface-brand-hover: var(--leaf-color-red-1);

    --leaf-typography-font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
    --leaf-typography-content-font-size: var(--leaf-typography-font-family);
  }
}

@layer reset {
  * {
    background-color: none;
    border: none;
    color: none;
  }
}

@layer base {
  :root * {
    background-color: var(--leaf-color-surface);
    font-family: var(--leaf-typography-content-font-family);
  }
}

@layer components {
  button {
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    min-height: 30px;
    padding: 0 12px;
  }

  button.brand {
    background-color: var(--leaf-color-surface-brand-rest);
    color: var(--leaf-color-content-on-brand);
  }

  button:hover {
    background-color: var(--leaf-color-surface-brand-hover);
  }

  button.neutral {
    background-color: var(--leaf-color-surface);
    border-color: var(--leaf-color-stroke);
    border-style: solid;
    border-width: 1px;
    color: var(--leaf-color-content);
  }

  button.neutral:hover {
    background-color: var(--leaf-color-neutral-05);
  }
}
